@import "./mixins.scss";
@import "./variables.scss";


header {
	@include mobile-only {
		@include flex(row, center, flex-end);
		height: $header-mobile-height;
		padding: 0 20px;
		position: fixed;
		z-index: 20;
		top: 0;
		left: 0;
		width: 100%;
		background-color: transparent;
	}

	@include desktop-only {
		@include flex(row, center, space-between);
		position: fixed;
		z-index: 30;
		width: 100%;
		animation: heightNav 2s linear;
		height: $header-desktop-height;

	}

}

@keyframes heightNav {
	from {
		height: 0;
		opacity: 0;
	}

	to {
		height: $header-desktop-height;
		opacity: 1;
	}
}