@import "./mixins.scss";
@import "./variables.scss";


header {
	background-color: transparent;
	transition: all 0.30s ease-out;
	max-height: 200px;


	&.stickyHeader {
		background-image: linear-gradient(#100904 95%, transparent);
		max-height: 90px;
	}
	@include mobile-only {
		@include flex(row, center, flex-end);
		height: $header-mobile-height;
		padding: 0 20px;
		position: fixed;
		z-index: 20;
		top: 0;
		left: 0;
		width: 100%;
		background-color: transparent;
	}

	@include desktop-only {
		@include flex(row, center, space-between);
		position: fixed;
		height: 200px;
		z-index: 30;
		width: 100%;
		.home & {
			animation: heightNav linear;
			animation-duration: 3s;
		}
	}

}

@keyframes heightNav {
	0% {
		transform: translateY(-60px);
		opacity: 0;
	}

	70% {
		transform: translateY(-60px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@-webkit-keyframes heightNav {
	from {
		transform: translateY(-60px);
	}

	to {
		transform: translateY(0px);
	}
}