@import "./mixins.scss";
@import "./variables.scss";

.imageContainer {
    position: relative;

    .announcement {
        @include vertical-center-flex;
        position: absolute;
        height: 100%;
        left: 70%;
        width: 20%;
        z-index: 2;
        background: #67867ecc;

        p {
            font-family: $pacifico;
            color: white;
            font-size: 40px;
            line-height: 1.5em;
            padding: 0 20%;
            text-align: center;
        }

        button {
            @include button;
        }
    }


}

.bestSellers {
    margin: 60px 0;
    h3 {
        padding-bottom: 60px;
        text-align: center;
        font-size: 40px;
        font-family: $pacifico;
        color: #f94b68;
        text-transform: capitalize;
    }

    .container {
        display: flex;
        justify-content: space-between;

        >div {
            flex: 1;
        }
    }
}