nav {
    ul {
        li {
            @media (max-width: 768px) {
                width: 100%;
                text-align: center;
                
            }

            a {

                @media (max-width: 768px) {
                    display: block;
                    position: relative;
                    color: white;
                    font-size: 22px;
                    width: 100%;
                }
            }
        }
        
    }
}