@import "./variables.scss";
@import "./mixins.scss";

nav {
    @include desktop-only {
        width: 100%;
    }

    #hamburger {
        @include desktop-only {
            display: none;
        }

        display: inline-block;
        outline: none;

        span {
            display: block;
            width: 28px;
            height: 3px;
            margin-bottom: 5px;
            position: relative;
            background: $golden;
            border-radius: 3px;
            transition: background 0.2s linear;

            &.firstLine {
                transition: all 0.8s cubic-bezier(1, 1, 1, 1);
            }

            &.secondLine {
                transition: width 0.5s cubic-bezier(1, 1, 1, 1);
                transition-delay: 0.5s;
            }

            &.thirdLine {
                transition: all 0.8s cubic-bezier(1, 1, 1, 1);
            }
        }

        &.clicked {
            span {
                background: black;

                &.firstLine {
                    transform: rotate(45deg);
                    top: 9px;
                }

                &.secondLine {
                    width: 0;
                }

                &.thirdLine {
                    transform: rotate(-45deg);
                    top: -7px;

                }
            }
        }
    }


    ul {
        display: flex;

        @include mobile-only {
            @include flex(column, center);
            position: absolute;
            height: auto;
            width: 100%;
            right: 0;
            top: calc(#{$header-mobile-height} + 40px);
            opacity: 0;

            &.visible {
                height: 100vh;
                opacity: 1;
                z-index: 100;
            }

            li {
                text-align: center;

                &.logo {
                    display: none;
                }

                a {

                    @include mobile-only {
                        @include bartender;
                        line-height: 1.5em;
                        display: block;
                        position: relative;
                        color: white;
                        font-size: 35px;
                        width: 100%;
                    }


                    &[aria-current="page"],
                    &:hover {
                        color: black;
                    }

                }
            }
        }

        @include desktop-only {
            justify-content: space-between;
            width: 60%;
            margin: 0 auto;

            .logo {
                display: none;
            }

            a {
                @include bartender;
                color: white;
                padding: 30px 10px;
                display: block;
                font-size: 1.375vw;
                transition: color 0.4s;

                &[aria-current="page"],
                &:hover {
                    color: $golden;
                }
            }
        }
    }

    .reservations {
        @include vertical-center-flex;

        button {
            padding: 10px 20px;
            border: 1px solid $golden;
            color: $golden;
            text-transform: uppercase;
            letter-spacing: 0.10em;
            transition: border-color .4s,color .4s,background-color .4s;
            &:hover {
                color: black;
                background-color: $golden;
                
            }
        }
    }
}