@import "./reset.scss";
@import "./navbar.scss";
@import "./mixins.scss";

body {
  font-family: "Open Sans";
}

h1 {
  opacity: 0;
  width: 0;
  height: 0;
  color: transparent;
  display: inline-block;
  font-size: 0;
}

header {
  @media (min-width: 769px) {
    background-color: $dark-grey;
    text-align: center;
    position: relative;
    width: 100%;

    &::before {
      content: "";
      height: 14px;
      position: absolute;
      bottom: -14px;
      left: 0;
      background: $dark-grey;
      width: 100%;
      z-index: 5;
    }

  }
}