@import "./reset.scss";
@import "./navbar.scss";
@import "./mixins.scss";

@font-face {
  font-family: "Bartender";
  src: url("../fonts/Bartender.ttf");
}

body {
  font-family: "Bartender", sans-serif;
}

h1 {
  width: 0;
  height: 0;
  color: transparent;
  display: inline-block;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;

}

header {
  @include flex(row, center, flex-end);
  height: $header-mobile-height;
  padding: 0 20px;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;

}

.mobilePanelContainer {

    @media (max-width: 768px) {
        display: flex;
        position: absolute;
        left: 0;
        width: 100%;
        top: 0;
        height: 100vh;
        z-index: 1;
    }

    #panelLeft {
        @media (max-width: 768px) {
            display: block;
            flex: 1;
            height: 0;
            background-color: $golden;
            transition: height 0.5s ease;
            z-index: 20;
            overflow: hidden;

            &.visible {
                box-shadow: 0px 0px 0px 3px $golden;
                height: 100vh;
            }
        }
    }

    #panelRight {
        @media (max-width: 768px) {
            display: block;
            flex: 1;
            height: 0;
            //margin-top: 100vh;
            background-color: $golden;
            transition: height 0.7s linear;
            overflow: hidden;

            &.visible {
                height: 100vh;
                // margin-top: 0
            }
        }
    }
}


