@font-face {
	font-family: "Bartender";
	src: url("../fonts/Bartender.ttf");
}


$golden: #856b39;

$bartenderFont : "Bartender", sans-serif;

$header-mobile-height: 60px;
$header-desktop-height: 120px;

$bp-small: 768px;
$bp-medium: 1024px;
$bp-large: 1366px;
$bp-xlarge: 1920px;
$bp-xxlarge: 2560px;