@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

//colors
$brown : #695858;
$cian : #8eb8ad;
$dark-blue: #69838d;
$cream : #ffe9c8;
$salmon: #dba79e;
$dark-grey: #444;

$pacifico : 'Pacifico', cursive;